*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

/*
    Global Reusable Styles
*/

/* Button.module.css */
.gradientButton {
    background: linear-gradient(45deg, hsl(257, 100%, 72%), hsl(201, 100%, 87%)) !important;
    border: none !important;
    width: 100% !important;
    height: 3rem !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.gradientButton:hover,
.gradientButton:focus {
    background: linear-gradient(45deg, hsl(236, 100%, 87%), hsl(248, 100%, 72%)) !important;
}

.loader {
    position: absolute;
    top: calc(50% - 30px);
    right: calc(50% - 15px);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.absolute-middle {
    position: absolute;
    top: calc(50% - 30px);
    right: calc(50% - 15px);
}

.custom-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 2px;
}

.list-item {
    padding: 16px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.list-item:last-child {
    border-bottom: none;
}

.item-meta {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.item-description {
    font-size: 14px;
    color: #595959;
}