.dsbSiderIconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demoLogoVertical {
    background-color: antiquewhite;
    height: 2rem;
    width: 100%;
    text-align: center;
}

.leftAligned {
    float: left;
}

.btnSiderSwitcher {
    font-size: 16px;
    width: 64;
    /* Add px unit */
    height: 64;
    /* Add px unit */
    color: #fff;
}

.topSiderMenu {
    display: block;
}

.bottomSiderMenu {
    position: absolute;
    bottom: 20px;
    color: #fff;
    width: 100%;
}

.buttonSeperator {
    margin: 1rem 0;
}

.buttonSeperator>button:first-child {
    margin-right: 1rem;
}

.profileSummarySpace {
    height: 50%;
}

.resumeIframeWrapper {
    height: max-content;
}

.ant-modal, .ant-modal-content {
 height: 100vh;
 width: 100vw;
 margin: 0;
 top: 0;
}
.ant-modal-body {
 height: calc(100vh - 110px);
}